In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing as prep

In [47]:
train_data = pd.read_csv('data/train.csv')

In [48]:
le = prep.LabelEncoder()

In [49]:
le.fit(train_data.Sex)
train_data.Sex = le.transform(train_data.Sex)

In [50]:
train_data.Embarked.fillna(value='0', inplace=True)
le.fit(train_data.Embarked)
train_data.Embarked = le.transform(train_data.Embarked)

In [51]:
train_data.Age.fillna(value=0, inplace=True)

In [72]:
train_data.Cabin.fillna(value='00', inplace=True)
train_data['CabinLetter']=train_data.Cabin.str[0]
le.fit(train_data.CabinLetter)
train_data.CabinLetter = le.transform(train_data.CabinLetter)

In [73]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Features,CabinLetter
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,00,3,"[3, 1, 0, 7.25, 1, 22.0, 3]",0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1,"[1, 1, 0, 71.2833, 0, 38.0, 1]",C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,00,3,"[3, 0, 0, 7.925, 0, 26.0, 3]",0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,3,"[1, 1, 0, 53.1, 0, 35.0, 3]",C
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,00,3,"[3, 0, 0, 8.05, 1, 35.0, 3]",0
5,6,0,3,"Moran, Mr. James",1,0.0,0,0,330877,8.4583,00,2,"[3, 0, 0, 8.4583, 1, 0.0, 2]",0
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,3,"[1, 0, 0, 51.8625, 1, 54.0, 3]",E
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,00,3,"[3, 3, 1, 21.075, 1, 2.0, 3]",0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,347742,11.1333,00,3,"[3, 0, 2, 11.1333, 0, 27.0, 3]",0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,237736,30.0708,00,1,"[2, 1, 0, 30.0708, 0, 14.0, 1]",0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,3,"[3, 1, 1, 16.7, 0, 4.0, 3]",G
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,3,"[1, 0, 0, 26.55, 0, 58.0, 3]",C
12,13,0,3,"Saundercock, Mr. William Henry",1,20.0,0,0,A/5. 2151,8.0500,00,3,"[3, 0, 0, 8.05, 1, 20.0, 3]",0
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.0,1,5,347082,31.2750,00,3,"[3, 1, 5, 31.275, 1, 39.0, 3]",0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,0,0,350406,7.8542,00,3,"[3, 0, 0, 7.8542, 0, 14.0, 3]",0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,0,0,248706,16.0000,00,3,"[2, 0, 0, 16.0, 0, 55.0, 3]",0
16,17,0,3,"Rice, Master. Eugene",1,2.0,4,1,382652,29.1250,00,2,"[3, 4, 1, 29.125, 1, 2.0, 2]",0
17,18,1,2,"Williams, Mr. Charles Eugene",1,0.0,0,0,244373,13.0000,00,3,"[2, 0, 0, 13.0, 1, 0.0, 3]",0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,1,0,345763,18.0000,00,3,"[3, 1, 0, 18.0, 0, 31.0, 3]",0
19,20,1,3,"Masselmani, Mrs. Fatima",0,0.0,0,0,2649,7.2250,00,1,"[3, 0, 0, 7.225, 0, 0.0, 1]",0
20,21,0,2,"Fynney, Mr. Joseph J",1,35.0,0,0,239865,26.0000,00,3,"[2, 0, 0, 26.0, 1, 35.0, 3]",0
21,22,1,2,"Beesley, Mr. Lawrence",1,34.0,0,0,248698,13.0000,D56,3,"[2, 0, 0, 13.0, 1, 34.0, 3]",D
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,0,0,330923,8.0292,00,2,"[3, 0, 0, 8.0292, 0, 15.0, 2]",0
23,24,1,1,"Sloper, Mr. William Thompson",1,28.0,0,0,113788,35.5000,A6,3,"[1, 0, 0, 35.5, 1, 28.0, 3]",A
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.0,3,1,349909,21.0750,00,3,"[3, 3, 1, 21.075, 0, 8.0, 3]",0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,1,5,347077,31.3875,00,3,"[3, 1, 5, 31.3875, 0, 38.0, 3]",0
26,27,0,3,"Emir, Mr. Farred Chehab",1,0.0,0,0,2631,7.2250,00,1,"[3, 0, 0, 7.225, 1, 0.0, 1]",0
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.0,3,2,19950,263.0000,C23 C25 C27,3,"[1, 3, 2, 263.0, 1, 19.0, 3]",C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,0.0,0,0,330959,7.8792,00,2,"[3, 0, 0, 7.8792, 0, 0.0, 2]",0
29,30,0,3,"Todoroff, Mr. Lalio",1,0.0,0,0,349216,7.8958,00,3,"[3, 0, 0, 7.8958, 1, 0.0, 3]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.0,1,0,28134,11.5000,00,3,"[2, 1, 0, 11.5, 1, 21.0, 3]",0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,0,0,17466,25.9292,D17,3,"[1, 0, 0, 25.9292, 0, 48.0, 3]",D
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,0.0,8,2,CA. 2343,69.5500,00,3,"[3, 8, 2, 69.55, 0, 0.0, 3]",0
864,865,0,2,"Gill, Mr. John William",1,24.0,0,0,233866,13.0000,00,3,"[2, 0, 0, 13.0, 1, 24.0, 3]",0
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,0,0,236852,13.0000,00,3,"[2, 0, 0, 13.0, 0, 42.0, 3]",0
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.0,1,0,SC/PARIS 2149,13.8583,00,1,"[2, 1, 0, 13.8583, 0, 27.0, 1]",0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,0,0,PC 17590,50.4958,A24,3,"[1, 0, 0, 50.4958, 1, 31.0, 3]",A
868,869,0,3,"van Melkebeke, Mr. Philemon",1,0.0,0,0,345777,9.5000,00,3,"[3, 0, 0, 9.5, 1, 0.0, 3]",0
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.0,1,1,347742,11.1333,00,3,"[3, 1, 1, 11.1333, 1, 4.0, 3]",0
870,871,0,3,"Balkic, Mr. Cerin",1,26.0,0,0,349248,7.8958,00,3,"[3, 0, 0, 7.8958, 1, 26.0, 3]",0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,1,1,11751,52.5542,D35,3,"[1, 1, 1, 52.5542, 0, 47.0, 3]",D
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,695,5.0000,B51 B53 B55,3,"[1, 0, 0, 5.0, 1, 33.0, 3]",B
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,0,0,345765,9.0000,00,3,"[3, 0, 0, 9.0, 1, 47.0, 3]",0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,1,0,P/PP 3381,24.0000,00,1,"[2, 1, 0, 24.0, 0, 28.0, 1]",0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,0,0,2667,7.2250,00,1,"[3, 0, 0, 7.225, 0, 15.0, 1]",0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,0,0,7534,9.8458,00,3,"[3, 0, 0, 9.8458, 1, 20.0, 3]",0
877,878,0,3,"Petroff, Mr. Nedelio",1,19.0,0,0,349212,7.8958,00,3,"[3, 0, 0, 7.8958, 1, 19.0, 3]",0
878,879,0,3,"Laleff, Mr. Kristo",1,0.0,0,0,349217,7.8958,00,3,"[3, 0, 0, 7.8958, 1, 0.0, 3]",0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,0,1,11767,83.1583,C50,1,"[1, 0, 1, 83.1583, 0, 56.0, 1]",C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,0,1,230433,26.0000,00,3,"[2, 0, 1, 26.0, 0, 25.0, 3]",0
881,882,0,3,"Markun, Mr. Johann",1,33.0,0,0,349257,7.8958,00,3,"[3, 0, 0, 7.8958, 1, 33.0, 3]",0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,0,0,7552,10.5167,00,3,"[3, 0, 0, 10.5167, 0, 22.0, 3]",0
883,884,0,2,"Banfield, Mr. Frederick James",1,28.0,0,0,C.A./SOTON 34068,10.5000,00,3,"[2, 0, 0, 10.5, 1, 28.0, 3]",0
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.0,0,0,SOTON/OQ 392076,7.0500,00,3,"[3, 0, 0, 7.05, 1, 25.0, 3]",0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,5,382652,29.1250,00,2,"[3, 0, 5, 29.125, 0, 39.0, 2]",0
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,00,3,"[2, 0, 0, 13.0, 1, 27.0, 3]",0
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,3,"[1, 0, 0, 30.0, 0, 19.0, 3]",B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,0.0,1,2,W./C. 6607,23.4500,00,3,"[3, 1, 2, 23.45, 0, 0.0, 3]",0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,1,"[1, 0, 0, 30.0, 1, 26.0, 1]",C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,00,2,"[3, 0, 0, 7.75, 1, 32.0, 2]",0

In [54]:
train_data['Features'] = train_data.apply(lambda x: [x['Pclass'], x['SibSp'], x['Parch'], x['Fare'], x['Sex'], x['Age'], x['Embarked']], axis=1)
train, test = train_test_split(train_data, test_size=0.20)

In [61]:
models = []
models.append({'name':"Random Forest", 'classifer':RandomForestClassifier()})
models.append({'name':"Support Vector Linear", 'classifer':svm.SVC(kernel='linear')})
models.append({'name':"Support Vector Radial Basis Function", 'classifer':svm.SVC(kernel='rbf')})

In [62]:
results = []
for model in models:
    name = model['name']
    clf = model['classifer']
    clf.fit(train['Features'].values.tolist(),train['Survived'].values.tolist())
    train_accuracy = accuracy_score(train['Survived'], clf.predict(train['Features'].values.tolist()))
    test_accuracy = accuracy_score(test['Survived'], clf.predict(test['Features'].values.tolist()))
    results.append([name, str(round(train_accuracy*100, 2))+'%', str(round(test_accuracy*100, 2))+'%'])

c:\users\codes\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\codes\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [63]:
results

[['Random Forest', '97.19%', '80.45%'],
 ['Support Vector Linear', '77.95%', '81.56%'],
 ['Support Vector Radial Basis Function', '90.31%', '71.51%']]